/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#products div {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    width: 500px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

#products img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #218838;
}

#cartTable {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
}

#cartTable th, #cartTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#cartTable th {
    background-color: #007bff;
    color: white;
}

#totalPrice {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
}