:root{
    --primary-color:blue;
    --secondary-color:yellow;
    --front-color:green;

}
#parent{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid grey;
    height: 100vh;
    background-color: antiquewhite;
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
}

#parent div{
    /* height: 100px; */
    /* width: 100px; */
    background-color: aqua;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    font-size: 50px;
}

#parent>div:nth-child(1) {
    background-color: blueviolet;
    grid-area: 1/1/2/3;
}

#parent>div:nth-child(2) {
    background-color: indigo;
}
#parent>div:nth-child(3) {
    background-color: blue;
}
#parent>div:nth-child(4) {
    background-color: green;
    grid-area: 2/1/4/2;
}
#parent>div:nth-child(5) {
    background-color: rgb(226, 237, 9);
    grid-area: 2/2/4/4;
}
#parent>div:nth-child(6) {
    background-color: rgb(237, 138, 16);
    grid-area: 2/4/3/5;

}
#parent>div:nth-child(7) {
    background-color: rgb(255, 25, 0);
    grid-area: 3/4/4/5;
}


@media screen and (max-widgh: 768px) {
    #parent
    grid-;
}

}


